:root{
    --color10: #7400b8;
    }

body{
    background-size: cover;
    background-repeat: no-repeat;
}

#cont1{
    position: absolute;
    top:10%;
    left: 10%;
    right: 10%;
}

#navbar{
    background-color: var(--color10);
    font-weight: bold;
}
#navbar-brand1, #navbar-brand2{
    color: #fff;
}

#cont2{
    width: auto;
    background-image: linear-gradient(#80ffdb,#48bfe3);
    border: 2px solid white;
    border-radius: 2rem;
}


#heading{
    text-align: center;
    color: #7400b8;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 80px;
    font-family: 'Pattaya', sans-serif;
}

button{
    height: 3rem;
    width: 10rem;
    margin-top: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
    font-family: 'Tinos', serif;
}